.image {
    display: inline-block;
    border: 0;
}

    .image img {
        display: block;
        width: 100%;
    }

    .image.avatar48 {
        width: 48px;
        height: 48px;
        background: #f00;
    }

        .image.avatar48 img {
            width: 48px;
            height: 48px;
        }

    .image.fit {
        display: block;
        width: 100%;
    }

    .image.featured {
        display: block;
        width: 100%;
        margin: 0 0 2em 0;
    }

    .image.left {
        float: left;
        margin: 0 2em 2em 0;
    }

    .image.centered {
        display: block;
        margin: 0 0 2em 0;
    }

        .image.centered img {
            margin: 0 auto;
            width: auto;
        }

/* List */

ul {
    list-style: disc;
    padding-left: 1em;
}

    ul li {
        padding-left: 0.5em;
    }

ol {
    list-style: decimal;
    padding-left: 1.25em;
}

    ol li {
        padding-left: 0.25em;
    }

/* Icons */

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

    ul.icons li {
        display: inline-block;
        padding-left: 0;
    }

    ul.icons a {
        display: inline-block;
        width: 2em;
        height: 2em;
        line-height: 2em;
        text-align: center;
        border: 0;
    }